h2{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 30px;

}

#menu{

    position: absolute;
    left: 480px; 
    list-style-type: none;
    background:linear-gradient(0deg, rgba(238,109,237,1) 0%, rgba(238,174,227,1) 35%, rgba(148,180,233,1) 100%);
    overflow:visible;
    padding-left: 0px;

}

#menu li{
    float: left;

}

#menu li a
{   
    text-decoration: none;
    color: black;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font: 20px bold;
    background:linear-gradient(0deg, rgba(238,109,237,1) 0%, rgba(238,174,227,1) 35%, rgba(148,180,233,1) 100%);
    border-right: outset 1px rgba(238, 109, 238, 0.281);
    border-top-right-radius: 8px;

}

#menu li a:hover{
    border-style: outset;
    border-color: rgb(231, 209, 231);
}
#menu li:hover .submenu{
    display: block;
}

.submenu{
    list-style-type: none;
    padding-left: 0px;
    display: none;
    overflow: visible;
    position: absolute;


}
#menu .submenu li
{   
    float: none;
    margin-top: 41px;
    overflow: visible;
    
}
#menu .submenu li a{
    padding-right: 50px;
}





